<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pjh.mjc.project_gimal_2017081066">

    <uses-feature
        android:required="true"
        android:glEsVersion="0x00020000"/>
    <permission
        android:name="pjh.mjc.project_gimal_2017081066.permission.MAPS_RECEIVE"
        android:label="signiture"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project_GIMAL_2017081066">

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD-JAf3163wmqS0HNAq96QMrO7PBNeSklc"/>

        <activity android:name=".LoginActivity" android:label="로그인">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".UserCreateActivity" android:windowSoftInputMode="adjustResize" android:label="회원가입"></activity>
        <activity android:name=".MapActivity" android:label="내지도"></activity>
        <activity android:name=".PostingActivity" android:label="게시글 작성"></activity>
        <activity android:name=".PostActivity" android:label="게시글"></activity>
    </application>

</manifest>